body {
  font-family: "Yantramanav", sans-serif;
  color: white;
  background-image: url(./assets/pexels-guillaume-meurice-1591447.jpg);

  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.4);
  background-size: cover;
  background-blend-mode: darken;
  padding-left: 15%;
  padding-right: 15%;
}
footer {
  text-align: center;
  padding-top: 40px;
}
.container {
  max-width: auto;
  max-height: 800px;
}
